.busquedas {
	padding: 8px 16px 12px;
	border-radius: 16px;
	box-shadow: 0 0 5px silver;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;

	.filter-features {
		height: 50px;
		overflow: auto;
	}

}