<app-header></app-header>

<div class="main-wrapper">
	
	<div class="container">
		
		<div class="row">
			<div class="col-md-3">
				<img src="assets/logo.png" [routerLink]="['/']" class="main-logo" alt="">
			</div>
			<div class="col-md-9">
				<img src="assets/banner.jpg" style="width: 100%;" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<h1 class="h1-detail">BMW Serie 1 116d 5p</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="card bs-mh mb-20">
					<div class="card-body card-detail">
						Estado: <b>XXXXXXXX</b> <br>
						Primer Registro: <b>XXXXXXXX</b> <br>
						Combustible: <b>XXXXXXXX</b> <br>
						Fabricante: <b>XXXXXXXX</b> <br>
						Kilometraje: <b>XXXXXXXX</b> <br>
						Potencia/Motor: <b>XXXXXXXX</b> <br>
						Tipo: <b>XXXXXXXX</b> <br>
						Estructura: <b>XXXXXXXX</b> <br>
						Cantidad de propid.: <b>XXXXXXXX</b> <br>
						Primera Matric.: <b>XXXXXXXX</b> <br>
						PMA KM.: <b>XXXXXXXX</b> <br>
						Garantía: <b>XXXXXXXX</b> <br>
						IVA Deducible: <b>XXXXXXXX</b> <br>
					</div>
				</div>

				<img src="assets/banner1.jpg" class="w100" alt="">
			</div>
			<div class="col-md-6">
				<div class="main-view">

					<angular-image-viewer [src]="inds"></angular-image-viewer>
					
				</div>

				<!-- <div class="thumbs mb-20">
					<div *ngFor="let c of cars" (click)="changeCar(c)">
						<span [ngStyle]="{'background-image':'url(assets/bmw/'+c+'.jpg)'}"></span>
					</div>
				</div> -->

				<div class="card bs-mh mb-20">
					<div class="card-body">
						<h3><b>Comentarios del Vendedor</b></h3>
						<hr style="border-width: 1px; border-color: #e9e9e9; box-shadow: 0 0 10px 1px #91aeae; ">
						<div>
							<p>Mundicar, consesionario Jaguar-Land Rover, del Grupo Montalt somos especialistas en vehículos Premium.</p>
							<p>Tenemos gran experiencia en venta por Internet</p>
							<p>Su PVP al contado es de 41.900€.</p>
							<p>Nuestra oferta con financiación es de 39.900€.</p>
							<br>
							<h3><b>Ejemplo de financiación:</b></h3>
							<p>- Entrada 9.900€ <br>
							   - 72 Cuotas de 557€
							</p>
							<br>
							Tenemos servicio de recogida en Aeropuerto y en estación de Renfe
						</div>
					</div>
				</div>

				<img src="assets/banner.jpg" style="width: 100%;" alt="">

			</div>
			<div class="col-md-3">
				<div class="card bs-mh mb-20">
					<div class="card-body">
						<div class="row" style="margin-bottom: -20px;">
					    	<div class="col-6">
					    		<h3 class="mb-0"><b style="font-size: 120%;">23.000€</b> <br> <small style="position: relative; top: -8px;">Al contado</small></h3>
					    		<h3 class="mb-0" style="position: relative; top: -10px;"><s><b style="font-size: 120%;">25.000€</b></s> <br> <small style="position: relative; top: -8px;">Precio anterior</small></h3>
					    	</div>
					    	<div class="col-6">
					    		<h3 class="mb-0"><b style="font-size: 120%; color: crimson;">28.000€</b> <br> <small style="position: relative; top: -8px;">Financiado</small></h3>
					    		<h3 class="mb-0" style="position: relative; top: -10px; line-height: 22px;"><b style="font-size: 10px;">GARANTIA: 1 año</b> <br> <b style="font-size: 10px;">IVA DEDUCIBLE INCLUIDO</b></h3>
					    	</div>
					    </div>
					</div>
					<div class="card-body contact-box bs-mh">
						<div class="text-center">
				    		<img src="assets/iconos/cn.svg" class="mr-2" style="width: 60px;" alt=""> <b>Logo Empresa</b>
						</div>

						<div class="lh">
							<i class="fa fa-map-marker"></i> Calle Pintor de Málaga, 19 <br>
							
							<i class="fa fa-phone"></i> +34 29 556 86 86 <br>

							<i class="fa fa-envelope"></i> info@modoauto.com <br>

							<i class="fa fa-link"></i> <a href="#"> lawebdelcliente.com</a> <br>

							<h3 class="stars">4.2
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
								<i class="fa fa-star-o"></i>
							</h3>

						</div>

						<button class="btn btn-warning btn-block" style="color: #fff !important">Contactar</button>

				    </div>
				</div>

				<div class="card bs-mh mb-20">
					<div class="card-body">
						<h3><b>Extras</b></h3>
						<hr style="border-width: 1px; border-color: #e9e9e9; box-shadow: 0 0 10px 1px #91aeae; ">

						<ul>
							<li><a href="#">Solicitar informe DGT</a></li>
							<li><a href="#">Solicitar informe CARFAX</a></li>
						</ul>

						<button class="btn btn-danger btn-block" style="color: #fff !important">Denunciar anuncio</button>
					</div>
				</div>

				<div class="mb-20">
					<app-share></app-share>
				</div>

				<img src="assets/banner1.jpg" class="w100" alt="">
			</div>
		</div>

	</div>

</div>

<app-footer></app-footer>
