.profile-circle {
	position: relative;
}
.msg-router {
	position: relative;
}
.circle-new-message {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	display: block;
	background-color: crimson;
	top: 0 !important;
	right: 0 !important;
	margin: 0 !important;
	float: right !important;
}