<div class="container">
  	<h1 style="margin-top: 16px">Modo Auto</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2c353a;">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      
	      <li class="nav-item active" style="text-align: center;">
	        <a class="nav-link" href="#"> <i class="fa fa-car" style="font-size: 24px; color: #fff"></i> <br> Coches</a>
	      </li>

	      <li class="nav-item" style="text-align: center;">
	        <a class="nav-link" href="#"> <i class="fa fa-car" style="font-size: 24px; color: #fff"></i> <br> Furgonetas</a>
	      </li>

	      <li class="nav-item" style="text-align: center;">
	        <a class="nav-link" href="#"> <i class="fa fa-car" style="font-size: 24px; color: #fff"></i> <br> Motos</a>
	      </li>

	    </ul>
	  </div>
	</div>
</nav>


	