<div id="footer-1">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/car.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Coches
					</div>
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/van.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Furgonetas
					</div>
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/scooter.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Motos
					</div>
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/caravan.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Más vehiculos
					</div>
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/taller.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Profesionales
					</div>
					<div class="col-md-4 col-6 footer-list">
						<img src="assets/iconos/motor.svg" class="svg-title mr-1" style="width: 30px; display: inline-block; top: -3px; position: relative;" alt=""> Repuestos
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-6 social">
						<span>SIGUENOS</span>
						<div class="row">
							<div class="col-md-3 col-3">
								<span class="social-link"><img src="assets/twitter.svg" alt=""></span>
							</div>
							<div class="col-md-3 col-3">
								<span class="social-link"><img src="assets/facebook.svg" alt=""></span>
							</div>
							<div class="col-md-3 col-3">
								<span class="social-link"><img src="assets/pinterest.svg" alt=""></span>
							</div>
							<div class="col-md-3 col-3">
								<span class="social-link"><img src="assets/linkedin.svg" alt=""></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-7">
				<div class="row social">
					<div class="col-md-4" style="text-align: left;">
						<img src="assets/logo.png" [routerLink]="['/']" class="main-logo" alt="">
						<b>&copy; Modo Auto</b>
					</div>
					<div class="col-md-4">
						<span>CONTACTO</span>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Calle Pintor de Málaga, 19 <br>
							<i class="fa fa-phone"></i> &nbsp; +34 29 556 86 86 <br>
							<i class="fa fa-envelope"></i> &nbsp; info@modoauto.com
						</p>

					</div>
					<div class="col-md-4">
						<span>PÁGINAS DE INTERÉS</span>
						<p class="small-lh">
							Quienes somos <br>
							FAQs <br>
							Contacta con nosotros <br>
							Política de privacidad <br>
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="row social">
					<div class="col-md-5"></div>
					<div class="col-md-7">
						<span>SUSCRIBETE A NUESTRO NEWSLETTER</span>

						<div class="form-group">
							<div class="input-group mt-30">
								<input type="text" class="form-control form-control-extra" placeholder="E-mail">
								<div class="input-group-append">
									<button class="btn btn-info btn-info-extra"><i class="fa fa-plane"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>