<app-header></app-header>

<div class="main-wrapper">
	
	<div class="container">
		
		<div class="row">
			<div class="col-md-3">
				<img src="assets/logo.png" [routerLink]="['/']" class="main-logo" alt="">
			</div>
			<div class="col-md-9">
				<input type="text" class="form-control form-control-lg" placeholder="Buscar">
			</div>
		</div>
			<!-- /**/ -->

		<div class="row mt-40">
			<div class="col-md-3">
				<app-filter-ind></app-filter-ind>
			</div>
			<div class="col-md-9">

				<div class="mb-3" style="background-color: #fff; border-radius: 8px; border: 2px solid #333; padding: 10px 5px 0; font-weight: bold; font-size: 14px; text-align: center;">
					<div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>CAMIONES</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-camiones.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>AUTOCARAVANAS</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-autocaravanas.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>MAQ.CONSTRUCCIÓN</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-construccion.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>MAQ.AGRICOLA</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-agricola.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>CABEZAS TRACTOR</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-cabezas.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="clear: both"></div>
					</div>
						
					<div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>AUTOBUSES</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-autobuses.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>CARRETILLAS</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-carretillas.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>SERVICIO PUBLICO</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-publico.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>SEMIREMOLQUES</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-semiremolques.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="margin-bottom: 10px; float: left; width: 20%">
							<div>
								<span>REMOLQUES</span> <br>
								<div style="height: 100px; display: flex; text-align: center;">
									<img src="assets/iconos/inds/icono-remolques.png" alt="" style="vertical-align: middle; position: relative; height: 40px; margin: auto;">
								</div>
							</div>
						</div>
						<div style="clear: both"></div>
					</div>

				</div>


				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				  <li class="nav-item" role="presentation">
				    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#all" role="tab" aria-selected="true">Todos</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#recent" role="tab" aria-selected="false">Reciente</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#popular" role="tab" aria-selected="false">Popular</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#alphabetic" role="tab" aria-selected="false">Alfabético</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#priceup" role="tab" aria-selected="false">Precio mayor</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pricedown" role="tab" aria-selected="false">Precio menor</a>
				  </li>
				</ul>

				<div class="mt-30">
					<app-publishing-ind></app-publishing-ind>

					<br>
					<br>

					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-lg btn-secondary" style="color: #e9e9e9; padding: 10px 40px; font-size: 14px;background-color: #bdbdbd;border-color: #bdbdbd;">Cargar Más <i class="fa fa-plus"></i></button>
						</div>
						<div class="col-md-6">
							
						</div>
					</div>

					<br>
					<br>

					<img src="assets/banner.jpg" style="width: 100%;" alt="">
				</div>
				<!-- <div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
				  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
				  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
				</div> -->
			</div>
		</div>

	</div>

</div>

<app-footer></app-footer>
