#map {
	width: 100%;
	height: 70vh;
	border: 1px solid #f0f0f0;
	box-shadow: 0 0 3px silver;
}

.professional-box {
	border-radius: 6px;
	box-shadow: 0 0 3px silver;
	margin-bottom: 10px;
	background-color: #ffffff;
	.p-header {
		padding: 8px;
		font-size: 18px;
		border-bottom: 1px solid #f0f0f0;
	}
	.p-body {

		// border: 1px solid #f0f0f0;
		padding: 8px;

	}
	.p-footer {
		padding: 8px;
		span {
			cursor: pointer;
			color: lightblue;
		}
	}

}